---
import Header from '../common/Header.astro'
import Footer from '../common/Footer.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Places from '../components/Places.astro'
import { SiteMetadata } from '../common/config'
import Cover from '../images/Chris.jpeg'
---

<Layout
  title='Travels Through A Lens'
  description={SiteMetadata.description}
  date={SiteMetadata.buildTime}
  image={Cover}
  tags={['travel', 'blog']}
>
  <Header />
  <Hero />
  <About />
  <div class='mx-auto max-w-xl py-12 text-center'>
    <div class='mx-auto mb-4 h-2 w-24 bg-pink-500'></div>
    <h2 class='font-display mb-6 text-5xl font-bold'>Trips</h2>
    <p class='mb-6 text-gray-600 font-light leading-relaxed'>
      I started travelling in the 1980s, in high school, but did not go far because I did not have
      much money. After I started working in the late 1980s, I mainly travelled for work reasons. In
      those days, we were mainly trying to pay off our mortgage, so most of our trips were domestic.
      We started travelling overseas for fun in the late 1990s after paying off our mortgage, but
      then in the early 2000s we bought a new house so had to curtail our travel desires. Most of
      our travel overseas have been in the 2010s as we had more disposable income.
    </p>

    <p class='mb-6 text-gray-600 font-light leading-relaxed'>
      The COVID19 worldwide pandemic in 2020 forced many people into lockdown, unable to leave their
      homes. I took the opportunity of load (or scan), edit and catalog all the photos of travels we
      have taken in the last 30 years. I have decided to make all the content of this site,
      including photos, open source (MIT Licence) and hosted on Github Pages. Please join me in
      exploring the trips we have taken.
    </p>
  </div>
  <Places />
  <!-- <LeftFeature />
  <Testimonials />
  <RightFeature /> -->
  <Footer />
</Layout>
