---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Travels Through A Lens.">
	<main>
		<h1>Travels Through A Lens <span class="text-gradient">(travelens)</span></h1>
		<p class="instructions">
			My travelogue web site, deployed on Github Pages.
			This documents all the trips we have taken
			over the years, to various countries. This site is currently under
			construction, and is planned to use the following technologies.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://astro.build/"
				title="Astro"
				body="Astro is the all-in-one web framework designed for speed. Pull your content from anywhere and deploy everywhere, all powered by your favorite UI components and libraries."
			/>
			<Card
				href="https://markdoc.dev"
				title="MarkDoc"
				body="Markdoc is a Markdown-based document format and a framework for content publishing."
			/>
			<Card
				href="https://www.typescriptlang.org/"
				title="Typescript"
				body="TypeScript is a strongly typed programming language that builds on JavaScript, giving you better tooling at any scale."
			/>
			<Card
				href="https://html5up.net"
				title="HTML5UP"
				body="HTML5+CSS site templates designed by @ajkln."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
