---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../common/Header.astro'
import Footer from '../common/Footer.astro'
import { SiteMetadata } from '../common/config'
import type Document from '../data/document'
import Cover from '../images/tags.jpeg'

const documents = import.meta.glob<Document[]>('../data/*.json', { import: 'default', eager: true })
const tags = Object.keys(documents)
  .map((doc) => documents[doc].map((entry) => entry.tags))
  .flat(3)
  .sort()
const tagcount = tags.reduce((acc: Record<string, number>, curr) => {
  acc[curr] = (acc[curr] || 0) + 1
  return acc
}, {})

const colors = ['red', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink']

const textSize = [
  'text-xs',
  'text-sm',
  'text-base',
  'text-lg',
  'text-xl',
  'text-2xl',
  'text-3xl',
  'text-4xl'
]
const maxcount =
  tagcount[Object.keys(tagcount).reduce((a, b) => (tagcount[a] > tagcount[b] ? a : b))]
---

<Layout
  title='Tags'
  description='Index of all tags'
  date={SiteMetadata.buildTime}
  image={Cover}
  tags={['travel', 'blog']}
>
  <Header />
  <div class='relative h-full w-full bg-black px-6 py-6 -mt-24'>
    <!-- hero section -->
    <div class='relative z-10 text-center'>
      <h1 class='font-display mb-6 mt-12 text-center text-6xl text-white font-bold'>Tags</h1>
      <ul class='align-center flex flex-wrap justify-center leading-10'>
        {
          Object.keys(tagcount).map((tag) => (
            <li>
              <a
                href={'/tag/' + encodeURIComponent(tag)}
                class:list={[
                  'text-black m-2 p-1 hover:p-2 hover:m-1 hover-shadow-neutral-700 shadow-lg shadow-neutral-500 rounded-full',
                  'bg-' +
                    colors[Math.floor(Math.random() * colors.length)] +
                    '-' +
                    (Math.floor(Math.random() * 3) + 1) +
                    '00',
                  textSize[Math.floor((tagcount[tag] * textSize.length) / maxcount)]
                ]}
              >
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- banner image -->
    <Image src={Cover} class='absolute inset-0 h-full object-cover opacity-70' alt='Cover' />
  </div>
  <Footer />
</Layout>
