---
---
<div
class="text-gray-800 text-opacity-40 font-semibold text-xs tracking-widest px-12"
>
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 py-24">
  <div>
    <div class="text-gray-900 text-4xl font-display">travelens</div>
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Voyages
    </div>
    <a href="#" class="block mb-4">Trips</a>
    <a href="#" class="block mb-4">Countries</a>
    <a href="#" class="block mb-4">Years</a>
    <a href="#" class="block mb-4">Locations</a>
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Other Sites
    </div>
    <a href="#" class="block mb-4">Chris Tham</a>
    <a href="#" class="block mb-4">Visual Voyager</a>
    <a href="#" class="block mb-4">Hello Tham</a>
    <a href="#" class="block mb-4">Prismatic Path</a>
  </div>
  <div>
    <div class="font-display text-gray-900 text-sm tracking-widest mb-6">
      Social links
    </div>
    <a href="https://www.facebook.com/chris1tham/" class="block mb-4 hover:text-pink"><span class="w-6 h-6 mr-2 i-fa6-brands-facebook"/>Facebook</a>
    <a href="https://www.instagram.com/chris1tham/" class="block mb-4 hover:text-pink"><span class="w-6 h-6 mr-2 i-fa6-brands-instagram"/>Instagram</a>
    <a href="https://twitter.com/Chris1Tham" class="block mb-4 hover:text-pink"><span class="w-6 h-6 mr-2 i-fa6-brands-twitter"/>Twitter</a>
    <a href="https://github.com/travelens" class="block mb-4 hover:text-pink"><span class="w-6 h-6 mr-2 i-fa6-brands-github"/>Github</a>
  </div>
</div>
</div>
<div
class="bg-gray-200 text-gray-500 text-sm lg:text-base text-center font-heading font-light tracking-widest uppercase p-12"
>
©2023 <a href="https://christham.net">Chris Tham</a>
</div>