---
import { Image } from 'astro:assets'

import NewYork from '../countries/New York.jpeg'
import Paris from '../countries/Paris.jpeg'
import Rome from '../countries/Rome.jpeg'

const bgFadein = '3s'
const bgTransition = '3s'
const bgSlide = '36s'
const bgImages = [NewYork, Paris, Rome]
---

<script is:inline>
  const slideshow = () => ({
    current: 0,
    images: 3,
    init() {
      window.setInterval(() => {
        this.current = this.current < this.images - 1 ? this.current + 1 : 0
      }, 6000)
    }
  })
</script>
<div
  x-data='slideshow()'
  x-init='init()'
  class='relative h-screen w-full flex items-center justify-center overflow-hidden bg-black -mt-24'
>
  <div class='absolute z-10 px-6 text-center text-center text-white'>
    <div class='text-xs tracking-widest uppercase'>travelens</div>
    <h1 class='font-display mt-2 text-3xl font-semibold md:text-5xl'>Travels Through A Lens</h1>
    <p class='mt-4'>
      <a href='https://christham.net'>Chris Tham</a>'s travelogue web site. This site documents all
      the trips we have taken over the years, to various countries.
    </p>
    <p class='mt-4 italic'>
      This site is currently under construction, as we load trips from the most recent all the way
      back to our first trip in the 1980s.
    </p>
    <div class='grid grid-cols-1 mx-auto mt-6 max-w-sm gap-4 md:grid-cols-2'>
      <a
        href='#places'
        class='font-heading inline-block bg-pink-400 px-8 py-4 text-sm text-white tracking-widest hover:bg-pink-500'
        x-on:click.prevent='$scrollTo'
      >
        Explore
      </a>
      <a
        href='#about'
        class='font-heading inline-block bg-pink-200 px-8 py-4 text-sm text-gray-700 tracking-widest hover:bg-pink-300'
        x-on:click.prevent='$scrollTo'
      >
        About
      </a>
    </div>
  </div>
  <div class='bgimg'>
    {
      bgImages.map((image, i) => (
        <div x-bind:class={'current == ' + i + " ? 'bgactive' : ''"}>
          <Image src={image} class='h-full w-full object-cover' alt={'Background ' + i} />
        </div>
      ))
    }
  </div>
</div>

<style define:vars={{ bgFadein, bgTransition, bgSlide }}>
  .bgimg {
    transition: opacity var(--bgFadein) s ease-in-out;
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.5;
    top: 0;
    width: 100%;
  }

  .bgimg div {
    transition: opacity var(--bgTransition) ease;
    animation: bg var(--bgSlide) linear infinite;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 130%;
    opacity: 0;
    overflow: hidden;

    @media only screen and (max-width: 1280px) {
      animation: bg calc(var(--bgSlide) * 0.65) linear infinite;
    }

    @media only screen and (max-width: 768px) {
      animation: bg calc(var(--bgSlide) * 0.4) linear infinite;
    }
  }

  .bgimg .bgactive {
    opacity: 1;
  }

  @keyframes bg {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-15%);
    }
  }
</style>
