---
---
<div
class="p-4 grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-4 md:h-screen"
>
    <div
    class="text-gray-700 text-center md:col-span-2 flex items-center justify-center"
    >
    <div class="relative z-10 p-12">
        <div class="uppercase text-sm text-gray-700 tracking-widest">
        Limited Run
        </div>
        <h3 class="font-display font-semibold text-3xl mt-2">Moisturise</h3>
        <p class="mt-3 mx-auto max-w-md">
        Whether in the sun or on the couch, hydration is key to maintaining
        happy, healthy skin.
        </p>
        <a
        href="#"
        class="inline-block bg-pink-200 text-white text-sm tracking-widest font-heading px-8 py-4 mt-6"
        >Shop now</a
        >
    </div>
    </div>
    <div class="h-64 md:h-auto md:col-span-2 md:row-span-2 relative">
    <img
        src="https://images.unsplash.com/photo-1597931752949-98c74b5b159f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80"
        class="absolute inset-0 w-full h-full object-cover"
    />
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
    <img
        src="https://images.unsplash.com/photo-1607602175460-c5dff74d7909?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80"
        class="absolute inset-0 w-full h-full object-cover"
    />
    </div>
    <div class="h-64 md:h-auto col-span-1 row-span-1 relative">
    <img
        src="https://images.unsplash.com/photo-1598282780498-8eda08ec1941?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80"
        class="absolute inset-0 w-full h-full object-cover"
    />
    </div>
</div>